@import 'base';
@import "smart-grid/smart-grid";

.app-background {
    background: var(--vt-c-black);
}
.app-background-soft {
    background: var(--vt-c-black-soft);
}
.app-background-mute {
    background: var(--vt-c-black-mute);
}

//.vertical-center {
//    display: flex;
//    flex-direction: column;
//    justify-content: center;
//}

#app {
    height: 100%;
}

.container {
    @include wrapper();

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    &-center {
        justify-content: center;
    }
}